body{
    color: white;
    background-color: cadetblue;
}
div{
    background-color: antiquewhite;
    color: black;
    height: 40px;
    text-align: center;
}
table {
    background-color: black;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid whitesmoke; 
  }
  td, th{
    border: 2px solid white;
  }