*{
    box-sizing: border-box;
}
body,html{
    font-family: 'Poppins', sans-serif;
}
.logotype{
    font-weight: 600;
    font-size: 27px;
    line-height: 120%;
    color: #000000;
    display: table-cell;
    width: 58%;
    
}
a{
    text-decoration: none;
}
.table{
    display: table;
    width: 100%;
}
.row{
    display: table-row;
}
.cell{
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}
.cell.a,
.cell.f{
    width: 7%;
}
.cell.c{
    width: 10.5%;
}
.cell.o{
    width: 8.3%;
}
.cell.b{
    padding-right: 0.8%;
    width: 9.2%;
}